{% extends 'default/layout.html.twig' %}

{% block head %}
    {{ parent() }}
    <title> - Ingrédients</title>
{% endblock %}

{% block nav %}
    {{ include('default/index.html.twig') }}
{% endblock %}

{% block content %}
    <p>Vous ne trouvez pas l'ingrédient? Ajoutez le ! <span class="add addIngredient">+</span></p>

    <section class="form">
        <div class="bg">
            <h3>Ajouter un ingrédients</h3>

            <form action="{{ path('ingredient.addIngredient') }}" method="post">

                <div class="center">
                    <label for="ingredient">Nom de l'ingrédient</label>
                    <input placeholder="Ex: Fraise" type="text" name="ingredient">
                </div>

                <div class="center">
                    <label for="ingredientCategory">Catégorie de l'ingredient</label>
                    <input placeholder="Ex: Fruit" type="text" name="ingredientCategory">
                </div>
                <button type="submit" name="submit">Envoyer</button>
            </form>
        </div>
    </section>

    <section>
        {%  for ingredient in ingredients %}
            <p>{{ ingredient }}</p>
        {% endfor %}
    </section>
{% endblock %}