{% extends 'default/layout.html.twig' %}

{% block head %}
    {{ parent() }}
    <title> - Ingrédients</title>
{% endblock %}

{% block nav %}
    {{ include('default/index.html.twig') }}
{% endblock %}

{% block content %}
    <div class="display">
        {% if not ingredients %}
            <p class="bg message">Désolée, aucuns ingrédient enregistrés à afficher pour le moment</p>
        {% else %}
            <section class="bg list">

                    {%  for ingredient in ingredients %}
                        <p>{{ ingredient }}</p>
                    {% endfor %}
            </section>
        {% endif %}
    </div>
{% endblock %}