/* GENERAL */
html{
    background: url("../pictures/background.png");
    font-family: 'Nunito', sans-serif;
}

a{
    text-decoration: none;
}

h2{
    color: #737373;
}

h3{
    margin: 0;
}

.bg{
    background: rgba(250,250,250,0.95);
    border-radius: 5px;
    margin: 20px;
    padding: 10px 10px 60px 10px;
    width: 45%;
    position: relative;
}

/* BODY */
body{
    margin: 0;
    padding: 0;
}

/* CONTAINER */
#container{
    max-width: 80%;
    margin: auto;
    display: flex;
    justify-content: center;
    flex-direction: column;
}

/* HEADER */
header{
    background: #449a92;
    max-width: 100%;
    box-shadow: 0 1px 20px #000;
    margin: 0 0 20px 0;
}

/*CONNEXION*/
#bandeau{
    width: 100%;
    background: #0f6961;
    display: flex;
    justify-content: flex-end;

}
#connexion{
    font-size: 0.8rem;
    display: flex;
    /*width: 110px;
    height: 30px;	*/
}

#connexion h3 a{
    display: block;
    text-transform: uppercase;
    color: white;
    transition: all 0.5s;
    padding: 5px 10px;
}

#connexion h3 a:hover{
    background: #0b4e48;
}

/*EN-TETE*/
.en-tete{
    max-width: 80%;
    margin: auto;
    display: flex;
    justify-content: space-between;
}

h1{
    margin: 0;
    align-self: center;
}

h1 a{
    display: block;
    color: white;
}

/* NAV PRINCIPAL*/
nav #navPrincipale{
    display: flex;
    align-items: flex-end;
    text-transform: uppercase;

}
nav ul{
    margin: 0;
    padding: 0;
    display: flex;
    list-style-type: none;
}


nav ul li a{
    display: block;
    color: white;
    padding: 15px;
    transition: all 0.5s;
}

nav ul li a:hover{
    color: white;
    background: #0f6961;
}


/*INDEX*/
.content{
    max-width: 90%;
    margin: 0px auto;
}

/*CATEGORIES - RECETTES - INGREDIENTS*/
.ordreAlpha{
    background:  #d8dbda;
    border: 1px solid #fff;
    border-radius: 5px;
}

.ordreAlpha ul{
    display: flex;
    justify-content: space-around;
}

.ordreAlpha ul li a{
    padding: 10px 15px;
    display: block;
}

.ordreAlpha ul li a:hover{
    background: #0f6961;
    box-shadow:  0 0 10px #0f6961;}

/* HOMEPAGE */
.display{
    display: inline;
    width: 60%;
    justify-content: center;
    margin: 0px auto;
}

.display-recipe{
    width: 100%;
    padding : 0;
    position: inherit;
    list-style-type: none;
}

.display-recipe h2{
    display: flex;
    justify-content: space-between;
}

/* FORMULAIRES */
.form{
    font-size: 0.95rem;
    display: flex;
    justify-content: space-around;
}

.form h3{
    color: #737373;
}

.form p{
    color: grey;
    font-size: 0.9rem;
    text-align: center;
}

.center{
    display: flex;
    justify-content: center;
    flex-direction: row;
    margin: 5px 50px 5px 0;
}

.form label{
    width: 30%;
    margin-right: 15px;
    text-align: right;
}

.bg input, .bg textarea{
    flex: 1;
    border: 1px solid #E1E6FA;
    border-radius: 3px;
}

.bg button{
    position: absolute;
    bottom: 20px;
    right: 20px;
    padding: 5px;
    background: grey;
    border: none;
    border-radius: 3px;
    color: white;
}

.add, .read-more, .more{
    color: white;
    cursor: pointer;
    background: #d8dbda;
    padding: 3px 5px;
    border-radius: 5px;
}

.add:hover, .read-more:hover{
    background: grey;
}
.addStep{
    color: white;
    cursor: pointer;
    background: grey;
    padding: 3px 5px;
    border-radius: 5px;
}

/* TABLES */
.displayData{
    margin: 0 auto;
    padding: 0;
    border: 2px solid #D8DBDA;
    border-bottom: none;
}

.displayData h3{
    color: grey;
    background: #D8DBDA;
    text-align: center;
}

.displayData h3, .head, .dataContent{
    border-bottom: 2px solid #D8DBDA;
}

.head{
    display: flex;
    justify-content: space-around;
}

.dataContent{
    display: flex;
    justify-content: space-around;
}

.dataContent p{
     margin-left: 10px;
     flex: 1;
}

.dataContent input{
    margin: 10px;
}

.action{
    margin: auto 10px;
}

.action button{
    margin: 5px;
    position: inherit;
}
