{% extends 'default/layout.html.twig' %}

{% block head %}
    <title>Catégories</title>
{% endblock %}

{% block nav %}
    {{ include('default/index.html.twig') }}
{% endblock %}

{% block content %}
    <p>Ajouter une categorie <span class="add">+</span></p>
    <section class="form">
        <div class="bg">
            <h3>Ajouter une catégorie</h3>
            {{ form_start(form, {'attr' : {'novalidate' : 'novalidate'}}) }}
            {{ form_widget(form) }}
            {{ form_end(form) }}
        </div>
    </section>
{% endblock %}