{% extends 'default/layout.html.twig' %}

{% block head %}
    <title>Catégories</title>
{% endblock %}

{% block nav %}
    {{ include('default/index.html.twig') }}
{% endblock %}

{% block content %}
    <div class="display">
            <p class="bg message">Désolée, aucunes catégories enregistrées à afficher pour le moment</p>
    </div>
{% endblock %}