{% block content %}
    <div class="bg displayData">
        <h3>Gestion des ingrédients</h3>

        <div class="head">
            <h4>Nom</h4>
            <h4>Categorie(s)</h4>
            <h4>Action</h4>
        </div>
        {% for ingredient in ingredients%}
            <form method="post"
                    action="{{ path('ingredient.edit', {
                                    'ingredientId' : ingredient.id}) }}"
                    class="formUpdateData">
                <div class="dataContent">
                    <p class="editInput" title="name">{{ ingredient.name }}</p>

                    <div class="ingredientCategories">
                        {% if ingredient.ingredientCategories is empty %}
                            <p class="editInput" title="category">Ajouter une catégorie</p>
                        {% else %}
                            <p class="display-more">Afficher plus</p>
                            <div class="categoriesList">
                                <ul>
                                {% for category in ingredient.ingredientCategories %}
                                    <li class="editInput" title="category">{{ category.name }}</li>
                                {% endfor %}
                                </ul>
                            </div>
                            <p class="editInput" title="category">Ajouter une catégorie</p>
                        {% endif %}

                    </div>

                    <div class="action" align="center">
                        <button type="submit" name="modify">
                            <i class="fas fa-pen"></i>
                        </button>
                        <button type="submit" name="delete">
                            <i class="far fa-trash-alt"></i>
                        </button>
                    </div>
                </div>
            </form>
        {% endfor %}
    </div>
{% endblock %}