{%  block content %}
    <div class="bg displayData">
        <h3>Gestion des catégories d'ingrédients</h3>

        <div class="head">
            <h4>Nom</h4>
            <h4></h4>
            <h4>Action</h4>
        </div>
        {% for category in ingredientCategories %}
            <form method="post" action="{{ path('ing.cat.edit', {'ingredientCategoryId' : category.id}) }}" class="formUpdateData">
                <div class="dataContent">
                    <p class="editInput" title="name">{{ category.name }}</p>
                    <div class="action" align="center">
                        <button type="submit" name="modify">
                            <i class="fas fa-pen"></i>
                        </button>
                        <button type="submit" name="delete">
                            <i class="fas fa-trash-alt"></i>
                        </button>
                    </div>
                </div>
            </form>
        {% endfor %}
    </div>
{% endblock %}