{% block content %}
    <table class="bg tableDisplay tableRecipeCategories">
        <caption>Gestion des catégories des recettes </caption>

        <thead>
        <tr>
            <th>Nom</th>
            <th>Action</th>
        </tr>
        </thead>
        {% for category in recipeCategories %}
            <tr>
                <td class="editInput">{{ category.name }}</td>
                <td class="action" align="center">
                    <button type="button">
                        <a href="{{ path('category.edit', {'recipeCategoryId' : category.id}) }}">
                            <i class="fas fa-user-edit"></i>
                        </a>
                    </button>
                    <button>
                        <a href="{{ path('category.delete', {'recipeCategoryId' : category.id}) }}">
                            <i class="fas fa-trash-alt"></i>
                        </a>
                    </button>
                </td>
            </tr>
        {% endfor %}
    </table>
{% endblock %}