{% extends 'default/layout.html.twig' %}

{% block content %}
    <section class="form">
        <div class="bg-form">
            <h3>Ajouter une recette</h3>
            {{ form_start(form, {'attr' : {'novalidate' : 'novalidate'}}) }}
            {{ form_widget(form) }}
            {{ form_end(form) }}
        </div>
    </section>

{% endblock %}