{% extends 'default/layout.html.twig' %}

{% block head %}
    <title>Votre profil</title>
{% endblock %}


{% block content %}
    <div class="display">
        <p>Votre profil</p>

        <p>
            <a href="{{ path('user.delete', {'userId' : app.user.id}) }}">
                Supprimer mon compte
            </a>
        </p>

        {{ include('user/recipes.html.twig') }}
    </div>

{% endblock %}