{% extends 'default/layout.html.twig' %}

{% block head %}
    <title>Votre profil</title>
{% endblock %}


{% block content %}

    Votre profil

    {{ include('user/recipes.html.twig') }}


{% endblock %}