{% block content %}
    {% if not recipes %}
        <p class="bg message">Vous n'avez pas encore de recettes, ajoutez-en! <span class="add">+</span></p>
    {% else  %}
        <p>Ajouter une recette <span class="add">+</span></p>
    {% endif %}


    {{ include('pages/recipe/addRecipe.html.twig') }}


    {% for recipe in recipes %}
        <p>{{ recipe.name }}</p>
    {% endfor %}
{% endblock %}